h1 {
	background: brown;
}

img{
	Width: 50%;
	border-radius: 50%;
}


body{
	background: url("images/FB_IMG_146631063798.jpg");
}

.info{
	background-color: pink;
}
.documento{
	background-color: brown;
}
.informacion{
	background-color: pink

}
